footer {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/Vector.png);
  padding: 200px;

  .footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    ul {
      display: flex;
      gap: 60px;

      a {
        color: $color-white;
      }
    }
  }
  .flex-messanger{
    margin-top: 30px;
    display: flex;
    gap: 24px;
    justify-content: end;
  }
  .line{
    width: 500px;
    height: 2px;
    color: #BDB0EC;
    z-index: 999;
  }
}
