#customer {
  padding: 100px 120px;

  .container {
    h1 {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: -1.6px;
      margin-bottom: 88px;
    }

    .customer-card {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: $color-gray;
      padding: 32px 36px;

      h4 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.48px;
        color: $color-black;
        width: 520px;
        margin-bottom: 48px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.8px;
        color: $color-brand;
      }
      span {
        font-size: 12px;
        font-weight: 500;
        color: $color-black;
      }
    }
  }
}
